workflows/content-approval-api.json
{
  "name": "Content Approval API",
  "id": "NRLuGWMVZuzLLM5Q",
  "active": true,
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 400],
      "parameters": {
        "httpMethod": "POST",
        "path": "approve-content",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "validate",
      "name": "Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\nconst draft_id = Number(body.draft_id);\nconst action = (body.action || '').trim().toLowerCase();\n\nif (!draft_id || !['approve', 'reject'].includes(action)) {\n  return [{ json: { valid: false, error: 'draft_id required, action must be approve or reject' } }];\n}\n\nreturn [{ json: { valid: true, draft_id, action, new_status: action + 'd' } }];"
      }
    },
    {
      "id": "is-valid",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 400],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "c1", "leftValue": "={{ $json.valid }}", "operator": { "type": "boolean", "operation": "true", "singleValue": true } }],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "respond-invalid",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 560],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: $json.error }) }}",
        "options": { "responseCode": 400 }
      }
    },
    {
      "id": "update-draft",
      "name": "Update Draft",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [900, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE content_drafts SET status = '{{ $json.new_status }}', approved_at = CASE WHEN '{{ $json.new_status }}' = 'approved' THEN NOW() ELSE approved_at END WHERE id = {{ $json.draft_id }} RETURNING id, content_id, status",
        "options": {}
      },
      "credentials": { "postgres": { "id": "QpTmcEtYnFaQrtTE", "name": "Postgres account" } }
    },
    {
      "id": "check-all",
      "name": "Check All Approved",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1120, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT cd.content_id, COUNT(*) as total, COUNT(*) FILTER (WHERE cd.status = 'approved') as approved_count FROM content_drafts cd WHERE cd.content_id = {{ $json.content_id }} GROUP BY cd.content_id",
        "options": {}
      },
      "credentials": { "postgres": { "id": "QpTmcEtYnFaQrtTE", "name": "Postgres account" } },
      "alwaysOutputData": true
    },
    {
      "id": "build-response",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 400],
      "parameters": {
        "jsCode": "const draft = $('Update Draft').first().json;\nconst counts = $('Check All Approved').first().json;\nconst allApproved = counts.total > 0 && Number(counts.approved_count) === Number(counts.total);\n\nreturn [{ json: {\n  draft_id: draft.id,\n  content_id: draft.content_id,\n  action: draft.status,\n  all_approved: allApproved,\n  approved_count: Number(counts.approved_count),\n  total_drafts: Number(counts.total),\n  update_content: allApproved\n} }];"
      }
    },
    {
      "id": "is-all-approved",
      "name": "All Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 400],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "c2", "leftValue": "={{ $json.all_approved }}", "operator": { "type": "boolean", "operation": "true", "singleValue": true } }],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "update-content",
      "name": "Mark Content Approved",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1780, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE content_items SET status = 'approved' WHERE id = {{ $json.content_id }}",
        "options": {}
      },
      "credentials": { "postgres": { "id": "QpTmcEtYnFaQrtTE", "name": "Postgres account" } }
    },
    {
      "id": "respond-approved",
      "name": "Respond Approved",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2000, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'updated', draft_id: $('Build Response').first().json.draft_id, action: $('Build Response').first().json.action, all_approved: true }) }}",
        "options": { "responseCode": 200 }
      }
    },
    {
      "id": "respond-partial",
      "name": "Respond Partial",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1780, 500],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'updated', draft_id: $('Build Response').first().json.draft_id, action: $('Build Response').first().json.action, all_approved: false, approved_count: $('Build Response').first().json.approved_count, total_drafts: $('Build Response').first().json.total_drafts }) }}",
        "options": { "responseCode": 200 }
      }
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Validate", "type": "main", "index": 0 }]] },
    "Validate": { "main": [[{ "node": "Is Valid?", "type": "main", "index": 0 }]] },
    "Is Valid?": { "main": [[{ "node": "Update Draft", "type": "main", "index": 0 }], [{ "node": "Respond Error", "type": "main", "index": 0 }]] },
    "Update Draft": { "main": [[{ "node": "Check All Approved", "type": "main", "index": 0 }]] },
    "Check All Approved": { "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]] },
    "Build Response": { "main": [[{ "node": "All Approved?", "type": "main", "index": 0 }]] },
    "All Approved?": { "main": [[{ "node": "Mark Content Approved", "type": "main", "index": 0 }], [{ "node": "Respond Partial", "type": "main", "index": 0 }]] },
    "Mark Content Approved": { "main": [[{ "node": "Respond Approved", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
